a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: blue;
}
a:hover {
  color: red;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name h1 {
  display: inline-block;
  font-size: 1.5rem;
}
nav {
  flex-grow: 1;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}
.logo img {
  border-radius: 8px;
}
